<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyeran.android.dodobo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".home.InformDoboActivity" />
        <activity android:name=".home.InformSeoulightActivity" />
        <activity android:name=".mypage.SuggestionActivity" />
        <activity android:name=".mypage.ModifyActivity" />
        <activity android:name=".mypage.ApplySeoulightActivity" />
        <activity android:name=".recommend.SeoulightDetailActivity" />
        <activity android:name=".dobo.DoboDetailActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".recommend.CourseEnrollActivity" />
        <activity android:name=".join.JoinActivity" >

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCOyqoMNkAdGmtLaXx-gXt2V2MMvpd5sJc" />

        <activity android:name=".TestActivity">

        </activity>
    </application>

</manifest>